body {
  background-image: url(https://i.pinimg.com/originals/44/eb/c3/44ebc3095a5deba2973f0e5fd3fb92b5.gif);
  background-size: cover;
  background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
  height: 100%;
}

.container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: rgb(204, 200, 200);
  color: black;
  font-weight: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 120px;
  width: 300px;
  padding: 10px;
}

p {
font-size: 1px;
flex-direction: row;
justify-content: space-evenly;
}

#flag {
font-size: 5px;
flex-direction: row;
justify-content: space-between;
font-size: 30px;
line-height: 30px;
}

#comp {
  font-size: 25px;
  height: 20px;
  
}
#temp {
  font-size: 25px;
  height: 20px;
}

#globe {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 40px;

}

#globe:hover {
  cursor: pointer;
  border-style: solid;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.tem {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
}
.tem:hover {
  cursor: pointer;
  border-style: solid;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.hum {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  justify-content: center;
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  
}
.hum:hover {
  cursor: pointer;
  border-style: solid;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.wind {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  justify-content: center;
  font-family: monospace;
  font-size: 40px;
  
}
.wind:hover {
  cursor: pointer;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.geo {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  justify-content: center;
  font-family: monospace;
  font-size: 40px;
}

.geo:hover {
  cursor: pointer;
  border-style: solid;
  border-color: blue;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.count {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  justify-content: center;
  font-size: 40px;
}

.count:hover {
  cursor: pointer;
  border-style: solid;
  border-color: blue;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}


.input-1 {
  width: 250px;
  height: 40px;
  background-color: rgb(220, 218, 218);
  border-style: hidden;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.input-2 {
  background-color: goldenrod;
  color: white;
  text-align: center;
  width: 80px;
  height: 40px;
  border-radius: 20px;
}

#set {
font-size: 20px;
flex-direction: row;
justify-content: space-evenly;


}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  text-align: left;
  /* Height of the footer*/
  height: 40px;
  font-family: cursive;
}

