
body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/067/785/original/44ebc3095a5deba2973f0e5fd3fb92b5.gif?1676475202);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  height: 100%;
}

.container {
  font-family: Roboto;
  border-color: rgb(204, 200, 200);
  color: black;
  font-weight: solid;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  overflow: hidden;
}

.logo {
  height: 120px;
  width: 300px;
  padding: 10px;
  align-items: center;
}

.input-1 {
  width: 500px;
  height: 50px;
  background-image:url();
  background-color: rgb(220, 218, 218);
  border-color: black;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
 
}

.input-2 {
  background-color: goldenrod;
  color: black;
  border-color: black;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border-radius: 20px;
}

p {
  flex-direction: row;
  justify-content: space-evenly;
}

#flag {
  font-size: 5px;
  flex-direction: row;
  justify-content: space-between;
  font-size:30px;
  line-height: 30px;
}

#comp {
  font-size: 30px;
  height: 20px;
  line-height: 35px;
  font-weight: 500px;
}
.set-1 {
  flex-direction: row;
  display: flex;
  font-size: 30px;
  height: 20px;
  justify-content: space-evenly;
  margin: 10px;
}

#globe {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
}

#globe:hover {
  cursor: pointer;
  border-style: solid;
  font-size: 50px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.tem {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 10%;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  
}
.tem:hover {
  cursor: pointer;
  border-style: solid;
  font-size: 50px;
  width: 20px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.hum {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 10%;
  justify-content: center;
  font-family: monospace;
  text-align: center;
}
.hum:hover {
  cursor: pointer;
  font-size: 50px;
  width: 20px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.wind {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 10%;
  justify-content: center;
  font-family: monospace;
  font-size: 40px;
}
.wind:hover {
  cursor: pointer;
  font-size: 10px;
  width: 20px;
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.geo {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 10%;
  justify-content: center;
  font-family: monospace;
  font-size: 40px;
  width: 5px;
}

.geo:hover {
  cursor: pointer;
  font-size: 50px;
  
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.count {
  display: block;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  border-radius: 10%;
  justify-content: center;
  font-size: 50px;
}

.count:hover {
  cursor: pointer;
  font-size: 50px;
  
  border-color: rgb(189, 189, 235);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.content {
  margin: 20px;
}

#set {
  font-size: 25px;
  flex-direction: row;
  justify-content: space-evenly;
}
#open{
  color: goldenrod;
}

#footer {
  padding: 10px 10px 0px 10px;
  bottom: 0;
  text-align: center;
  /* Height of the footer*/
  height: 40px;
  font-family: cursive;
}
img {
  height: 100px;
  width: 100px;
}
.imag{
  width: 25px;
  height: 25px;
}